{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img src="{{ url_for('static') filename='img/IMG_9000.JPG' }}">
        <p>I am John Malek - an aspiring developer. I am looking to grow my skills in development.See you soon on a big
          project 😌</p>
        <p>This is a site made to learn wed dev in python using flask for backend under guidance by an online instructor
          on <a href="https://www.udemy.com/">Udemy</a>. It is a blog site that enables people to sign up and can view
          posted blogs and comment on them once logged in.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}